In [113]:
import pandas as pd
import numpy as np
import os

params = {
    "trade_flow":"EXP",
    "year":"1997"}

source_url = "http://www.mdic.gov.br/balanca/bd/comexstat-bd/ncm/{}_{}_MUN.csv".format(params["trade_flow"], params["year"])

In [114]:
if "{}_{}_MUN.csv".format(params["trade_flow"], params["year"]) not in os.listdir("data_temp/"):
    df = pd.read_csv(source_url, sep = ";")
    df.to_csv("./data_temp/{}_{}.csv".format(params["trade_flow"], params["year"]))
else:
    df = pd.read_csv("./data_temp/{}_{}_MUN.csv".format(params["trade_flow"], params["year"]), sep = ";")
    
df.head()

   CO_ANO  CO_MES   SH4  CO_PAIS SG_UF_MUN   CO_MUN  KG_LIQUIDO   VL_FOB
0    1997       1  8482      249        SP  3448708         210     8164
1    1997       1  8432      249        RS  4302709      261644   256053
2    1997       1  9403      275        RS  4314902       83240   263800
3    1997       1  9021      756        SP  3450308          27    11104
4    1997       1  9403       23        SC  4215802      459073  1099830

In [115]:
df["time_id"] = (df["CO_ANO"].astype("str") + df["CO_MES"].astype("str").str.zfill(2)).astype("int")

df.head()

,CO_ANO,CO_MES,SH4,CO_PAIS,SG_UF_MUN,CO_MUN,KG_LIQUIDO,VL_FOB,time_id
0,1997,1,8482,249,SP,3448708,210,8164,199701
1,1997,1,8432,249,RS,4302709,261644,256053,199701
2,1997,1,9403,275,RS,4314902,83240,263800,199701
3,1997,1,9021,756,SP,3450308,27,11104,199701
4,1997,1,9403,23,SC,4215802,459073,1099830,199701

In [116]:
p = pd.read_csv("./resources/shared_hs92.csv")
p_dict = {k:v for (k,v) in zip(p["hs4"],p["hs4_id"])}

df["hs4_id"] = df["SH4"].map(p_dict).fillna(33391).astype("int")

df.head()

,CO_ANO,CO_MES,SH4,CO_PAIS,SG_UF_MUN,CO_MUN,KG_LIQUIDO,VL_FOB,time_id,hs4_id
0,1997,1,8482,249,SP,3448708,210,8164,199701,37410
1,1997,1,8432,249,RS,4302709,261644,256053,199701,37360
2,1997,1,9403,275,RS,4314902,83240,263800,199701,12795
3,1997,1,9021,756,SP,3450308,27,11104,199701,57949
4,1997,1,9403,23,SC,4215802,459073,1099830,199701,12795

In [117]:
g1 = pd.read_csv("./resources/PAIS.csv", sep=";", encoding="latin-1")
g1_dict = {k:v for (k,v) in zip(g1["CO_PAIS"],g1["CO_PAIS_ISOA3"])}

df["country_id"] = df["CO_PAIS"].map(g1_dict).str.lower()
df.head()

,CO_ANO,CO_MES,SH4,CO_PAIS,SG_UF_MUN,CO_MUN,KG_LIQUIDO,VL_FOB,time_id,hs4_id,country_id
0,1997,1,8482,249,SP,3448708,210,8164,199701,37410,usa
1,1997,1,8432,249,RS,4302709,261644,256053,199701,37360,usa
2,1997,1,9403,275,RS,4314902,83240,263800,199701,12795,fra
3,1997,1,9021,756,SP,3450308,27,11104,199701,57949,zaf
4,1997,1,9403,23,SC,4215802,459073,1099830,199701,12795,deu

In [118]:
g2 = pd.read_csv("./resources/shared_countries.csv")
g2_dict = {k:v for (k,v) in zip(g2["iso3"],g2["id_num"])}

#df["country_id"] = df["country_id"].map(g2_dict)
#df.isnull().any()

In [119]:
a = list(df["country_id"])
a = np.array(a)
a = np.unique(a)
b = [k for k,v in g2_dict.items()]
b = np.array(b)
b = np.unique(b)

for c in a:
    if c not in b:
        print("\"{}\"".format(c))

"ant"
"bwa"
"csk"
"glp"
"guf"
"lie"
"mco"
"mtq"
"nam"
"pri"
"reu"
"scg"
"swz"
"twn"
"umi"
"vir"
"zzz"