### Time Dimension

In [21]:
import pandas as pd

#Creation Step
df = pd.read_csv("./resources/shared_time.csv")
df.to_csv("./dimension_tables/time_table.csv", index=False)

print(df.head())
print(df.isnull().any())
print(df.dtypes)

   month month_name  quarter quarter_name  time_id  year
0      1    January        1           Q1   199501   1995
1      2   February        1           Q1   199502   1995
2      3      March        1           Q1   199503   1995
3      4      April        2           Q2   199504   1995
4      5        May        2           Q2   199505   1995
month           False
month_name      False
quarter         False
quarter_name    False
time_id         False
year            False
dtype: bool
month            int64
month_name      object
quarter          int64
quarter_name    object
time_id          int64
year             int64
dtype: object

### Product Dimension

In [22]:
import pandas as pd

df = pd.read_csv("./resources/shared_hs92.csv")
df = df.drop(columns=["hs6","hs6_name","hs6_id"])
df = df.drop_duplicates(subset="hs4_id").reset_index(drop=True)
df.to_csv("./dimension_tables/product_table.csv", index=False)

print(df.head())
print(df.isnull().any())
print(df.dtypes)

   chapter     chapter_name  hs2       hs2_name  hs4         hs4_name  \
0        1  Animal Products    1  Animals; live  101           Horses
1        1  Animal Products    1  Animals; live  102           Bovine
2        1  Animal Products    1  Animals; live  103             Pigs
3        1  Animal Products    1  Animals; live  104  Sheep and Goats
4        1  Animal Products    1  Animals; live  105          Poultry

   chapter_id  hs2_id  hs4_id
0           1     101   10101
1           1     101   10102
2           1     101   10103
3           1     101   10104
4           1     101   10105
chapter         False
chapter_name    False
hs2             False
hs2_name        False
hs4             False
hs4_name        False
chapter_id      False
hs2_id          False
hs4_id          False
dtype: bool
chapter          int64
chapter_name    object
hs2              int64
hs2_name        object
hs4              int64
hs4_name        object
chapter_id       int64
hs2_id           int64
hs4_id           int64
dtype: object

### Country Dimension

In [23]:
import pandas as pd

df = pd.read_csv("./resources/shared_countries.csv")
df.to_csv("./dimension_tables/country_table.csv", index=False)

print(df.head())
print(df.isnull().any())
print(df.dtypes)

     color continent     id  id_num iso2 iso3            name
0  #c8140a        as  asafg       4   af  afg     Afghanistan
1  #752277        eu  eualb       8   al  alb         Albania
2  #ffc41c        af  afdza      12   dz  dza         Algeria
3  #e87600        oc  ocasm      16   as  asm  American Samoa
4  #752277        eu  euand      20   ad  and         Andorra
color        False
continent    False
id           False
id_num       False
iso2         False
iso3         False
name         False
dtype: bool
color        object
continent    object
id           object
id_num        int64
iso2         object
iso3         object
name         object
dtype: object

### State Dimension

In [24]:
import pandas as pd

df = pd.read_csv("./resources/UF.csv", sep=";", encoding="latin-1")
df["NO_REGIAO"] = df["NO_REGIAO"].str.title()
df["SG_UF"] = df["SG_UF"].str.lower()
df = df.rename(columns={"CO_UF":"state_id","SG_UF":"state_code","NO_UF":"state_name","NO_REGIAO":"region_name"})

print(df.head())
print(df.isnull().any())
print(df.dtypes)

   state_id state_code state_name   region_name
0        11         ro   Rondônia  Regiao Norte
1        12         ac       Acre  Regiao Norte
2        13         am   Amazonas  Regiao Norte
3        14         rr    Roraima  Regiao Norte
4        15         pa       Pará  Regiao Norte
state_id       False
state_code     False
state_name     False
region_name    False
dtype: bool
state_id        int64
state_code     object
state_name     object
region_name    object
dtype: object

### Municipality Dimension

In [25]:
import pandas as pd

df = pd.read_csv("./resources/UF_MUN.csv", sep=";", encoding="latin-1")
df = df.rename(columns={"CO_MUN_GEO":"municipality_id","NO_MUN_MIN":"municipality_name","SG_UF":"state_code"})
df = df.drop(columns="NO_MUN")
df["state_code"] = df["state_code"].str.lower()
df.to_csv("./dimension_tables/municipality_table.csv", index=False)

print(df.head())
print(df.isnull().any())
print(df.dtypes)

   municipality_id municipality_name state_code
0          2308401      Missão Velha         ce
1          2308500           Mombaça         ce
2          2308609  Monsenhor Tabosa         ce
3          2308708       Morada Nova         ce
4          2308807           Moraújo         ce
municipality_id      False
municipality_name    False
state_code           False
dtype: bool
municipality_id       int64
municipality_name    object
state_code           object
dtype: object

### Flow Dimension

In [26]:
import pandas as pd

df = pd.DataFrame({"flow_id":[1,2], "flow_name":["Exports","Imports"]})
df.to_csv("./dimension_tables/flow_table.csv", index=False)

print(df.head())
print(df.isnull().any())
print(df.dtypes)

   flow_id flow_name
0        1   Exports
1        2   Imports
flow_id      False
flow_name    False
dtype: bool
flow_id       int64
flow_name    object
dtype: object