In [33]:
import pandas as pd
import numpy as np
import os
from IPython.display import display

params = {
    "flow":"EXP",
    "year":"2019",
    "db-connector":"clickhouse-local"}

source_url = "http://www.mdic.gov.br/balanca/bd/comexstat-bd/mun/{}_{}_MUN.csv".format(params["flow"], params["year"])

In [34]:
def monitor(df):
    display(df.head())
    print(df.isnull().any())
    print("len(df): ", len(df))

In [35]:
filename = "{}_{}_MUN.csv".format(params.get("flow"),params.get("year"))
if filename not in os.listdir("./data_temp"):
    r = self.connector.download(params=params)
    with open("./data_temp/"+filename,"w") as file:
        file.write(r.text)
df = pd.read_csv("./data_temp/"+filename, sep=";")

monitor(df)

   CO_ANO  CO_MES   SH4  CO_PAIS SG_UF_MUN   CO_MUN  KG_LIQUIDO  VL_FOB
0    2019       3  8541      493        SP  3410609         456   31240
1    2019       1  2710      169        PR  4125506        3230    8629
2    2019       2  7019       63        SP  3426902        3915   19960
3    2019       3  4010      756        SP  3409502         107    4129
4    2019       3   207      676        PR  4105508      362970  549491

CO_ANO        False
CO_MES        False
SH4           False
CO_PAIS       False
SG_UF_MUN     False
CO_MUN        False
KG_LIQUIDO    False
VL_FOB        False
dtype: bool
len(df):  316237

In [36]:
df["time_id"] = (df["CO_ANO"].astype("str") + df["CO_MES"].astype("str").str.zfill(2)).astype("int")

monitor(df)

,CO_ANO,CO_MES,SH4,CO_PAIS,SG_UF_MUN,CO_MUN,KG_LIQUIDO,VL_FOB,time_id
0,2019,3,8541,493,SP,3410609,456,31240,201903
1,2019,1,2710,169,PR,4125506,3230,8629,201901
2,2019,2,7019,63,SP,3426902,3915,19960,201902
3,2019,3,4010,756,SP,3409502,107,4129,201903
4,2019,3,207,676,PR,4105508,362970,549491,201903

CO_ANO        False
CO_MES        False
SH4           False
CO_PAIS       False
SG_UF_MUN     False
CO_MUN        False
KG_LIQUIDO    False
VL_FOB        False
time_id       False
dtype: bool
len(df):  316237

In [37]:
p = pd.read_csv("./resources/shared_hs92.csv")
p_dict = {k:v for (k,v) in zip(p["hs4"],p["hs4_id"])}

df["hs4_id"] = df["SH4"].map(p_dict).fillna(33391).astype("int")

monitor(df)

,CO_ANO,CO_MES,SH4,CO_PAIS,SG_UF_MUN,CO_MUN,KG_LIQUIDO,VL_FOB,time_id,hs4_id
0,2019,3,8541,493,SP,3410609,456,31240,201903,37469
1,2019,1,2710,169,PR,4125506,3230,8629,201901,52710
2,2019,2,7019,63,SP,3426902,3915,19960,201902,5947
3,2019,3,4010,756,SP,3409502,107,4129,201903,8474
4,2019,3,207,676,PR,4105508,362970,549491,201903,10207

CO_ANO        False
CO_MES        False
SH4           False
CO_PAIS       False
SG_UF_MUN     False
CO_MUN        False
KG_LIQUIDO    False
VL_FOB        False
time_id       False
hs4_id        False
dtype: bool
len(df):  316237

In [38]:
g1 = pd.read_csv("./resources/PAIS.csv", sep=";", encoding="latin-1")
g1_dict = {k:v for (k,v) in zip(g1["CO_PAIS"],g1["CO_PAIS_ISOA3"])}

df["country_id"] = df["CO_PAIS"].map(g1_dict).str.lower()

monitor(df)

,CO_ANO,CO_MES,SH4,CO_PAIS,SG_UF_MUN,CO_MUN,KG_LIQUIDO,VL_FOB,time_id,hs4_id,country_id
0,2019,3,8541,493,SP,3410609,456,31240,201903,37469,mex
1,2019,1,2710,169,PR,4125506,3230,8629,201901,52710,col
2,2019,2,7019,63,SP,3426902,3915,19960,201902,5947,arg
3,2019,3,4010,756,SP,3409502,107,4129,201903,8474,zaf
4,2019,3,207,676,PR,4105508,362970,549491,201903,10207,rus

CO_ANO        False
CO_MES        False
SH4           False
CO_PAIS       False
SG_UF_MUN     False
CO_MUN        False
KG_LIQUIDO    False
VL_FOB        False
time_id       False
hs4_id        False
country_id    False
dtype: bool
len(df):  316237

In [39]:
g2 = pd.read_csv("./resources/shared_countries.csv")
g2_dict = {k:v for (k,v) in zip(g2["iso3"],g2["id_num"])}

df["country_id"] = df["country_id"].map(g2_dict)

monitor(df)

,CO_ANO,CO_MES,SH4,CO_PAIS,SG_UF_MUN,CO_MUN,KG_LIQUIDO,VL_FOB,time_id,hs4_id,country_id
0,2019,3,8541,493,SP,3410609,456,31240,201903,37469,484
1,2019,1,2710,169,PR,4125506,3230,8629,201901,52710,170
2,2019,2,7019,63,SP,3426902,3915,19960,201902,5947,32
3,2019,3,4010,756,SP,3409502,107,4129,201903,8474,711
4,2019,3,207,676,PR,4105508,362970,549491,201903,10207,643

CO_ANO        False
CO_MES        False
SH4           False
CO_PAIS       False
SG_UF_MUN     False
CO_MUN        False
KG_LIQUIDO    False
VL_FOB        False
time_id       False
hs4_id        False
country_id    False
dtype: bool
len(df):  316237

In [40]:
s = pd.read_csv("./resources/UF.csv", sep=";", encoding="latin-1")
s_dict = {k:v for (k,v) in zip(s["SG_UF"],s["CO_UF"])}

df["state_id"] = df["SG_UF_MUN"].map(s_dict)

monitor(df)

,CO_ANO,CO_MES,SH4,CO_PAIS,SG_UF_MUN,CO_MUN,KG_LIQUIDO,VL_FOB,time_id,hs4_id,country_id,state_id
0,2019,3,8541,493,SP,3410609,456,31240,201903,37469,484,41
1,2019,1,2710,169,PR,4125506,3230,8629,201901,52710,170,42
2,2019,2,7019,63,SP,3426902,3915,19960,201902,5947,32,41
3,2019,3,4010,756,SP,3409502,107,4129,201903,8474,711,41
4,2019,3,207,676,PR,4105508,362970,549491,201903,10207,643,42

CO_ANO        False
CO_MES        False
SH4           False
CO_PAIS       False
SG_UF_MUN     False
CO_MUN        False
KG_LIQUIDO    False
VL_FOB        False
time_id       False
hs4_id        False
country_id    False
state_id      False
dtype: bool
len(df):  316237

In [41]:
df["municipality_id"] = df["CO_MUN"]
df["liquid_kg"] = df["KG_LIQUIDO"]
df["fob"] = df["VL_FOB"]

monitor(df)

,CO_ANO,CO_MES,SH4,CO_PAIS,SG_UF_MUN,CO_MUN,KG_LIQUIDO,VL_FOB,time_id,hs4_id,country_id,state_id,municipality_id,liquid_kg,fob
0,2019,3,8541,493,SP,3410609,456,31240,201903,37469,484,41,3410609,456,31240
1,2019,1,2710,169,PR,4125506,3230,8629,201901,52710,170,42,4125506,3230,8629
2,2019,2,7019,63,SP,3426902,3915,19960,201902,5947,32,41,3426902,3915,19960
3,2019,3,4010,756,SP,3409502,107,4129,201903,8474,711,41,3409502,107,4129
4,2019,3,207,676,PR,4105508,362970,549491,201903,10207,643,42,4105508,362970,549491

CO_ANO             False
CO_MES             False
SH4                False
CO_PAIS            False
SG_UF_MUN          False
CO_MUN             False
KG_LIQUIDO         False
VL_FOB             False
time_id            False
hs4_id             False
country_id         False
state_id           False
municipality_id    False
liquid_kg          False
fob                False
dtype: bool
len(df):  316237

In [42]:
f_dict = {"EXP":1,
          "IMP":2}
df["flow_id"] = f_dict[params["flow"]]

df = df[["time_id","flow_id","hs4_id","country_id","state_id","municipality_id","liquid_kg","fob"]]

monitor(df)

,time_id,flow_id,hs4_id,country_id,state_id,municipality_id,liquid_kg,fob
0,201903,1,37469,484,41,3410609,456,31240
1,201901,1,52710,170,42,4125506,3230,8629
2,201902,1,5947,32,41,3426902,3915,19960
3,201903,1,8474,711,41,3409502,107,4129
4,201903,1,10207,643,42,4105508,362970,549491

time_id            False
flow_id            False
hs4_id             False
country_id         False
state_id           False
municipality_id    False
liquid_kg          False
fob                False
dtype: bool
len(df):  316237